      h1{
        text-align:center;
        color: purple;
        background: pink
      }
      li:hover{
        background:lightblue
      }
      li{
        background: pink;
        display: inline-block;
        width: 18%
      }
      body{
        margin:0px;
        padding:10px
      }
      #underline{
        text-decoration: underline;
      }
      #lightpink{
        background:rgb(255, 200, 208)
      }
      .menu{
        background:#ffdfdf
      }
      @media only screen and (max-width: 600px) {
        body {
          background-color: lightblue;
        }
      }
      a{
        color: purple
      }
      .menu{
        text-decoration:wavy;
      }
      .shoutouts{
        background-color:rgb(246, 246, 246)
      }
      .content{
        background-color: beige
      }
      .footer{
        background-color: #ffdfdf;
      }
      .image{
        background-color: bisque;
      }
      .hyperlinks{
        background-color:lightseagreen
      }
