      h1{
        text-align:center;
        color: purple;
        background: pink
      }
      li:hover{
        background:lightblue
      }
      li{
        background: pink;
        display: inline-block;
        width: 20%
      }
      body{
        margin:0px;
        padding:10px
      }
